.profile {
  display: flex;
  height: 600px;
  width: 100vw;
  background-color: #e3ba88;
  background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

img {
  display: flex;
  justify-content: center;

}