.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2em 0;
}

.tweetButtonNCount {
  display: flex;
  justify-content: space-between;
  font-family: Bungee;
  margin-top: .5em;
  margin-left: .5em;
}

.tweet-box {
  resize: none; 
  border-bottom-color: #545149;
  border-width: 0 0 thick 0;
  background-color: #f4f1ec;
  width: 95%;
  font-weight: 600;
  margin-left: .5em;
}

button {
  background-color: #4056A1;
  color: white;
  border: none;
  padding: .5em;
}

.negativeCount {
  color: rgb(229, 23, 23);
}

.submit-tweet {
  width: 100%;
}

.counter {
  margin-right: 1.5em;
}

.throwError {
  display: none;
  padding: 20px;
  background-color: rgb(229, 23, 23);
  color: white;
  margin-bottom: 3em;
}